@import './../variables/_variables.scss';
html {
    height: 100%;
}

body {
    background-image: url('https://image.tmdb.org/t/p/original/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg');
    background-size: cover;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.overlay {
    background-image: linear-gradient(rgba(0, 0, 0, .85) 15%, rgba(0, 0, 0, .2) 40%, rgb(66, 247, 43) 90%);
    height: 100vh;
}