

.searchbar {
    position: relative;
    margin-top: 50px;
    
    .form-control:focus {
        box-shadow: none;
    }
    .searchbox__input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid white;
        color: white;
        &::focus {
            outline: none !important;
            
        }
        
    }
}

.dropdown {
    width: 36%;
    z-index: 9999;
    position: fixed;
    opacity: 0.8;
    .dropdown-item {
        background-color: #030404;
        color: white;
        
    }
    
}